@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  background-color: #520d50;
  color: #2eecad;
}

header h3 {
  margin: 0;
  font-family: 'Grey Qo', cursive;
  font-size: 2rem;
  font-weight: bolder;
  height: fit-content;
}

header div a {
  font-size: 1.5rem;
  color: #2eecad;
  cursor: pointer;
}
header div {
  transition: ease-in-out 0.3s;
}
header div:hover {
  transform: rotate(-15deg);
}
